<nav class="header">
  <ng-container *ngIf="!isUserLoggedIn()">
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a>
  </ng-container>

  <ng-container *ngIf="isUserLoggedIn()">
    <ng-container [ngSwitch]="userRole">
      <a *ngSwitchCase="'client'" routerLink="/dashboard-client">Client Dashboard</a> |
      <a *ngSwitchCase="'admin'" routerLink="/dashboard-admin">Admin Dashboard</a> |
      <a *ngSwitchCase="'cuisinier'" routerLink="/dashboard-cuisinier">Cuisinier Dashboard</a> |
      <a *ngSwitchDefault routerLink="/dashboard">Dashboard</a> |
    </ng-container>

    <!-- Link to the Dishes List visible only for admin and cuisinier -->
    <a *ngIf="isUserLoggedIn()" routerLink="/dishes-list">Dishes List</a>

    <!-- Logout link -->
    <a (click)="logout()" style="cursor: pointer;">Logout</a>
  </ng-container>
</nav>
