<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mon Application</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" (click)="onLogout()">Se déconnecter</a>
          

        </li>
      </ul>
    </div>
  </nav>
  